
:root{
  --main--color: rgb(20, 191, 197);
}
.slideshow-container {
  width: 100%;
    position: relative;
    margin: auto;
    height: 800px;

} 
    .header-area {
      position: relative;
      z-index: 2;
      color: rgb(5, 0, 0);
      display: flex;
      padding: 10px;
    }
    .header-area .logo {
      width: 300px;
      padding: 8px;
      margin-left: 49px;
      font-weight: bold;
    
      font-size: 30px;
    }
    .header-area .links-container {
      width: 100%;
      text-align: right;
      
    }
    .header-area .links {
      list-style: none;
      padding-left: 0;
      margin-right: 100px;
      
    }
    .header-area .links li {
      display: inline-block;
      margin-left:20px;
    }
    .header-area .links li a {
      color: rgb(8, 0, 0);
      text-decoration: none;
      transition: .3s;
      font-size: 15px;
    }
    .header-area .links li a:hover,
  .header-area .links li a.Active {
    color: var(--main--color);
  }

  
   
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 65%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(83, 80, 80);
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
  }
  
  .next {
    right: 0;
   
  }
  
  .prev:hover,
  .next:hover {
    color: rgb(252, 248, 248);
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }

  .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }